# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class

# =========================================================
# Virtual environment
# =========================================================

.venv/
venv/
env/

# =========================================================
# Environment variables
# =========================================================

.env

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# Logs
# =========================================================

logs/
*.log

# =========================================================
# User data
# =========================================================

data/
exports/
config.json


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# Python cache
# =========================================================

.pytest_cache/
.mypy_cache/

# =========================================================
# Distribution
# =========================================================

build/
dist/
*.egg-info/
